/*base*/
* {
    padding: 0;
    margin: 0;
}

a, a:link {
    color: #fefefe;
    text-decoration: none;
}

body {
    background: #FAFAFA;
    color: #4F5257;
}

ul {
    list-style-type: none;
}

input {
    border: 0;
    outline: none;
    font-size: 16px;
    color: #909397;
    font-family: "华文宋体";
    background: #FAFAFA;
    width: 76%;
    height: 36px;
}

.header {
    height: 46px;
    width: 100%;
    line-height: 46px;
    text-align: center;
    background: #333;
}

.head {
    color: #FFFFFF;
    font-size: 18px;
    position: relative;
}

.body {
    width: 100%;
    margin-top: 20px;
}

.inp {
    margin: 10px auto;
    width: 90%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.del {
    position: relative;
    display: inline-block;
    pointer-events: none;
    float: right;
}

.del:after {
    position: absolute;
    pointer-events: auto;
    top: 8px;
    right: 0px;
    height: 26px;
    width: 26px;
    line-height: 21px;
    text-align: center;
    content: "×";
    font-size: 28px;
    color: white;
    border-radius: 50%;
    background-color: #DDDDDD;
}

.zddl {
    width: 100%;
}

.zddl input[type=checkbox] {
    display: none;
}

.zddl label {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 10px 18px;
    display: inline-block;
}

.zddl #checkbox + label:before {
    position: absolute;
    top: 5px;
    right: 10px;
    content: '';
    width: 60px;
    height: 30px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #C0C0C0;
    background: #C0C0C0;
}

.zddl #checkbox + label:after {
    position: absolute;
    top: 6px;
    right: 41px;
    content: '';
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
}

.zddl #checkbox:checked + label:before {
    background: #39B868;
}

.zddl #checkbox:checked + label:after {
    right: 11px;
}
.log{
    margin: 20px auto;
    width: 95%;
    background: #39B868 ;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.toast{
    width: 70%;
    height: 50px;
    margin: 24px auto;
    border-radius: 5px;
    background: #333333;
    color: #FAFBFD;
    line-height: 50px;
    text-align: center;
    display: none;
    /*opacity: 0;*/
    transition: all 1s ease;
}
/*登录页面e*/
.sreturn{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    position: absolute;
    top:18px;
    left: 16px;
    transform: rotate(-45deg);
}
#floor{
    width: 100%;
    background: #666666;
    zoom:1;
    *zoom:1
}
/*清除浮动*/
#floor:after{
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
#floor ul li{
    float:left;
    height: 60px;
    line-height:60px;
    text-align: center;
    width:30% ;
    background: #666666;
    color:#ffffff;
}
#desks{
    margin: 0 auto;
    width: 85%;
    zoom:1;
    *zoom:1
}

#desks:after{
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.desk{
    float: left;
    margin-top: 10px;
    margin-left: 3%;
    width: 29%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #E1E1E1;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    position: relative;
}
.using{
    background: #DADCFF;
}
.price{
    position: absolute;
    top:-25px;
    left: 5px;
    color:#D21530;
}
.time{
    position: absolute;
    top:25px;
    left: 5px;
    color:#4F5257;
}
/*餐台e*/
.mymenu{
    position: absolute;
    display: inline-block;
    right: 10px;
    top:8px;
    background:#39B868 ;
    font-size: 14px;
    border-radius: 5px;
    height: 30px;
    width: 20%;
    text-align: center;
    line-height: 30px;
}
.container{
    position: relative;
    width: 100%;
    /*border: 1px solid red;*/
    zoom:1;
    *zoom:1;
}
/*清除浮动*/
.container:after{
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.container .left{
    width: 20%;
    height: 524px;
    /*border: 1px solid red;*/
    float: left;
    background: #DEDEDE;
}
.left li{
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.left span{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    display: none;
    font-size: 12px;
    color: #fff;
}
.left .allnum{
    display: block;
}
.left .active{
    background:#AFAFB0;
}
.container .right{
    width: 76%;
    height: 524px;
    float: right;
    margin-right: 10px;
}
.right li{
    position: relative;
    font-size: 14px;
    position: relative;
    height: 80px;
    border-top:1px solid #ddd ;
    pointer-events:none;
}
.right .food:after{
    content: "";
    width: 15px;
    height: 6px;
    display: block;
    border-left: 2px solid #39B868;
    border-bottom: 2px solid #39B868;
    transform: rotate(-45deg);
    position: absolute;
    top: 34px;
    right: 18px;
}
.right .foods:before{
    position: absolute;
    top:23px;
    right: 10px;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #AFAFB0;
    pointer-events: auto;
}
.right li img{
    display: inline-block;
    margin-top: 10px;
}
.right li b{
    position: absolute;
    top:10px;
    left: 90px;
}
.right li .cnum{
    position: absolute;
    top: 30px;
    right: 86px;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    display: none;
    font-size: 12px;
    color: #fff;
}
.right .yprice{
    text-decoration:line-through;
    color:#4F5257;
}
.right .curp{
    top:48px;
}
.right li span{
    position: absolute;
    font-size: 12px;
    left: 90px;
    top:30px;
    color:#D1001B;
}
.right .wine{
    position: absolute;
    top:22px;
    right: 0px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    /*background: red;*/
    pointer-events: auto;
}
.right .wine span{
    position: absolute;
    top:5px;
    right: 50px;
    width: 25px;
    text-align: center;
    left: auto;
    color: black;
    font-size: 14px;
}
.right .wine .jian{
    background:#ddd;
    border-radius: 50%;
}
.right .wine .jia{
    right: 0px;
    background:#ddd;
    border-radius: 50%;
}
.right .wine .winenum{
    right: 25px;
}
.container .cptoast{
    position: absolute;
    width: 60%;
    top:230px;
    left: 20%;
}
.buy{
    position: absolute;
    display: inline-block;
    right: 10px;
    background:#39B868 ;
    font-size: 14px;
    border-radius: 5px;
    height: 30px;
    width: 20%;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    z-index: 1;
}
#mask{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}
#calculate{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -120px;
    width: 240px;
    height: 300px;
    z-index: 11;
    color: #fff;
    font-size: 22px;
    display: none;
}
#calculate div{
    margin: 4px;
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: #39B868;
}

#calculate .gray{
    background:#AAAAAA;
    pointer-events: none;
}
/*菜谱e*/
.zprice{
    background: #666666;
    height: 60px;
}
.zprice span{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    color: #fff;
    font-size: 14px;
}
.zprice span b{
    color: #D1001B;
    font-size: 20px;
    font-weight: normal;
}
.fooditem{
    margin:10px;
    background: #fff;
}
.fooditem li{
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.fooditem li p:nth-of-type(1){
     font-weight: bold;
 }
.fooditem li p:nth-of-type(2){
   text-decoration: line-through;
    font-size: 14px;
}
.fooditem li p:nth-of-type(3){
    color:#D1001B;
    font-size: 14px;
}
.fooditem li:last-of-type{
    border: none;
}
.fooditem li .change{
    position: absolute;
    right: 0;
    top:35%
}
.fooditem li .change .jia,.jian{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    height: 25px;
    background:#ddd;
    border-radius: 50%;
 }
.qbuy{
    position:fixed;
    bottom: 30px;
    display: inline-block;
    right: 10px;
    background:#39B868 ;
    font-size: 14px;
    border-radius: 5px;
    height: 30px;
    width: 20%;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    z-index: 1;
}
