<div class="header">
    <div class="head"><span>登录</span></div>
</div>
<div class="body">
    <div class="inp">
        <span>账号：</span>
        <input type="text" name="" id="account" class="input" placeholder="请输入账号">
        <div class="d1"></div>
    </div>
    <div class="inp">
        <span>密码：</span>
        <input type="password" name="" id="password" class="input" placeholder="请输入密码">
        <div class="d1"></div>
    </div>
    <div class="zddl">
        <input id="checkbox" type="checkbox" name="check" id="">
        <label for="checkbox">自动登录：</label>
    </div>
    <div class="log">登 录</div>
    <div class="toast">请输入密码</div>
</div>